<!doctype html>
<html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Nodejs and Mongodb Crud Example</title>
   </head>
   <body>
        <h1>Nodejs and Mongodb Crud Example</h1>
        {{message}}
        <br>
        <h4>Create</h4>
        <form method="post" action="/store_book">
          <label for="">Title</label>
          <input type="text" name="title">
          <label for="">Author</label>
          <input type="text" name="author">
          <input type="submit">
        </form>
        <br><br>
        <ul>
          {{#each emploees}}
          <li>{{this.title}} - {{this.author}}</li>
          {{/each}}
        </ul>
   </body>
</html>